
/* fixing the Horizontal DL in the sidebar on the projects page */
@media (min-width: 768px) {
    .side-summary .dl-horizontal dt { width: 100px; }
    .side-summary .dl-horizontal dd { margin-left: 110px; }

    .profile-content .dl-horizontal dt { width: 90px; }
    .profile-content .dl-horizontal dd { margin-left: 100px; }

    .modal-dialog .dl-horizontal dt { width: 80px; }
    .modal-dialog .dl-horizontal dd { margin-left: 90px; }

    dl.dl-horizontal dt { width: 120px; }
    dl.dl-horizontal dd { margin-left: 130px; }

} 

/* Blinking Effect */
.pulse {
    animation: pulse-animation 2s linear infinite;
    -webkit-animation: pulse-animation 2s linear infinite;
}
@keyframes pulse-animation {
  50% { opacity: 0.6; }
}
@-webkit-keyframes pulse-animation {
  50% { opacity: 0.6; }
}

.label-urgent, .badge-urgent, .widget-urgent, .bg-urgent {
    background-color: #880000;
    color: #FFFFFF;
}

